body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #5aa55b;
}

h1 {
    color: #dafada;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
}

h2 {
    color: #dafada;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

p {
    color: #dafada;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.song {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #54c556;
    border-radius: 10px;
    margin: 10px;
}

.songText {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: left;
    margin-left: 20px;
}

.song iframe {
    width: 560px;
    height: 315px;
}

.linkBox {
    background-color: #54c556;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    align-items: center;
}

.linkBox:hover {
    background-color: #4bb44b;
    cursor: pointer;
}

.linkBox span {
    font-size: 18x;
    color: #dafada;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media (max-width: 640px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }

    .song {
        flex-direction: column;
        align-items: center;
    }

    .songText {
        text-align: center;
        width: 95%;
    }

    .song iframe {
        width: 80%;
        height: auto;
        aspect-ratio: 16/9;
        margin-bottom: 10px;
    }

    .linkBox {
        padding: 5px;
        margin: 5px;
        width: 60%;
    }
}

@media (max-width: 1024px) and (min-width: 641px) {
    h1 { 
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .container {
        width: 85%;
    }

    .song {
        flex-direction: column;
        align-items: center;
    }

    .songText {
        text-align: center;
        width: 95%;
    }

    .song iframe {
        width: 80%;
        height: auto;
        aspect-ratio: 16/9;
        margin-bottom: 10px;
    }
}